<!-- 多说评论框 start -->
<div class="comments" data-thread-key={{page.id}} data-title={{page.title}} data-url={{ site.url }}{{page.url}}></div>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.duoshuo_short_name }}"};
</script>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"dennisblog"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
<script>
    function pajx_loadDuodsuo(){
        var dus=$(".comments");
        if($(dus).length==1){
            var el = document.createElement('div');
            el.setAttribute('data-thread-key',$(dus).attr("data-thread-key"));//必选参数
            el.setAttribute('data-url',$(dus).attr("data-url"));
            DUOSHUO.EmbedThread(el);
            $(dus).html(el);
        }
    }
</script>
<!-- 多说评论框 end -->
